In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cpdata.csv')

In [3]:
df.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
df.isnull().sum()

temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
df.shape

(3100, 5)

In [16]:
df['label'].unique()

array(['rice', 'wheat', 'Mung Bean', 'Tea', 'millet', 'maize', 'Lentil',
       'Jute', 'Coffee', 'Cotton', 'Ground Nut', 'Peas', 'Rubber',
       'Sugarcane', 'Tobacco', 'Kidney Beans', 'Moth Beans', 'Coconut',
       'Black gram', 'Adzuki Beans', 'Pigeon Peas', 'Chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [9]:
len(df['label'].unique())

31

In [18]:
crops = list(df['label'].unique())

In [20]:
crops.index('rice')

0

In [22]:
df['label'] = df['label'].apply(lambda x:crops.index(x)+1)

In [23]:
df.head()

   temperature   humidity        ph    rainfall  label
0    20.879744  82.002744  6.502985  202.935536      1
1    21.770462  80.319644  7.038096  226.655537      1
2    23.004459  82.320763  7.840207  263.964248      1
3    26.491096  80.158363  6.980401  242.864034      1
4    20.130175  81.604873  7.628473  262.717340      1

In [24]:
from sklearn.preprocessing import MinMaxScaler